<!DOCTYPE html>
<html lang="en">
<head>
	<title>系统维护中</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Fantasy Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link href="http://localhost:8888/nakatest/css/500.css" rel="stylesheet" type="text/css" media="all">
	<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!--//online-fonts -->
</head>
<body>
	<div class="header">
		<h1>Fantasy error page</h1>
	</div>
	<div class="w3-main">
		<div class="agile-info">
			<h2>500</h2>
			<h3>系统维护中</h3>
			<p>The Page You're Looking for Was Not Found.</p>
			<a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i>go back</a>
		</div>
	</div>
	<div class="footer-w3l">
		<p>&copy; 2017 Fantasy Error Page. All rights reserved | Design by <a href="http://www.xmoban.cn">xmoban.cn</a></p>
	</div>
	<div class="container">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-1112982054462406"
		 data-ad-slot="7771152246"
		 data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	</div>
<!-- /ad -->
</body>
</html>