<!DOCTYPE html>
<html>
<head>
	<title>没有权限</title>
	<link rel="stylesheet" href="http://localhost:8888/nakatest/css/noauth.css">
	<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:400,200italic,200,300,300italic,400italic,600,600italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<!-- For-Mobile-Apps-and-Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps-and-Meta-Tags -->

</head>
<body>
	<div class="main w3l">
		<h2>没有访问权限</h2>
		<h3>"Sorry ! You do not have access rights "</h3>
		<a href="#" class="back">BACK TO HOME</a>
		<div class="social-icons w3">
			<ul>
				<li><a class="twitter" href="#"></a></li>
				<li><a class="facebook" href="#"></a></li>
				<li><a class="pinterest" href="#"></a></li>
			</ul>
		</div>
		<div class="footer agileits">
		
			<p>Copyright © 2016 Simple Error Page. All Rights Reserved | Design by <a href="http://xmoban.cn" target="_blank">xmoban.cn</a></p>
			<p> <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 自适应广告 -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1112982054462406" data-ad-slot="7771152246" data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script></p>
		</div>
	</div>
	
</body>
</html>